/*
  fonts:
  font-family: 'Saira Extra Condensed', sans-serif;
  font-family: 'Dosis', sans-serif;
font-family: 'Cabin', sans-serif;
  #0065aa
  #004084

*/

a:link{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.intro-left {
  height: 100vh;
  background-color:#002266;
}

#pic{
  position: fixed;
  left: 65px;
  bottom: 470px;
  z-index: 1000;
}

#home-button{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  position:fixed;
  left: 145px;
  bottom: 400px;
  z-index: 1000;
  text-transform: uppercase;
}

#skills-button{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  position:fixed;
  left: 145px;
  bottom: 370px;
  z-index: 1000;
  text-transform: uppercase;
}

#education-button{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  position:fixed;
  left: 145px;
  bottom: 340px;
  z-index: 1000;
  text-transform: uppercase;
}

#experience-button{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  position:fixed;
  left: 145px;
  bottom: 310px;
  z-index: 1000;
  text-transform: uppercase;
}

.intro-right{
  height: 100vh;
  background-color: #fcfcfc;
}

#intro-description{
  margin-top: 50px;
  padding-right: 120px;
  font-family: 'Dosis', sans-serif;
  font-size: 28px;
}

#intro-name{
  font-size: 120px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
}

#intro-first{
  margin-left: 50px;
  position: relative;
  top: 230px;
  left: 0;
}

#email-pic{
  margin-left: 300px;
  margin-top: 17px;
}

.skills-right{
  height: 100vh;
  background-color: #fcfcfc;
}

#skills-first{
  margin-left: 50px;
  position:relative;
  top: 40px;
}

#skills-name{
  font-size: 70px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
}

#skills-list{
  font-size: 28px;
  font-family: 'Dosis', sans-serif;
  margin-top: 50px;
  padding-right: 120px;
}

.education{
  height: 100vh;
  background-color: #fcfcfc;
}

#education-first{
  margin-left: 50px;
  position:relative;
  top: 70px;
}

#education-name{
  font-size: 70px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
}

#education-school{
  font-size: 35px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 0;
}

#education-program{
  font-size: 25px;
  color: #666666;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  margin-bottom:20px;
}

#education-list{
  font-size: 28px;
  font-family: 'Dosis', sans-serif;
  margin-top: 30px;
  padding-right: 120px;
}

.experience{
  height: 100vh;
  background-color: #fcfcfc;
}

#experience-first{
  margin-left: 50px;
  position:relative;
  top: 70px;
}

#experience-name{
  font-size: 70px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
}

.experience-type{
  font-size: 28px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
}

.experience-type-date{
  font-size: 28px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;

  float: right;
  position: relative;
  bottom: 40px;
  right:40px;
  color: #002266;
}

.experience-list{
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  margin-top: 30px;
  padding-right: 120px;
  line-height: 1.8;
}
